__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.python-version
.pytest_cache/
.pyre/

.git/
.gitignore
Dockerfile*
docker-compose*.yml
*.md
!README.md
*.env
*.sqlite3
*.db

node_modules/
web/
docs/
assets/
export_data/
booklogr/
